@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    --geo-font: "Nabla", "sans-serif";
    --main-font: "Josefin Sans", "sans-serif";
    --code-font: "Jetbrains mono", "monospace";
    --footer-bg: rgb(24, 16, 11);
}

body {
    font-family: var(--main-font);
    color: white;
}

input {
    font-family: var(--code-font);
}

h1 {
    font-family: var(--geo-font);
}
.color-picker {
    border: none;
    background-color: transparent;
}

.number {
    text-wrap: wrap;
    aspect-ratio: 1 / 1;
    height: 40px;
    background-color: rgb(100, 50, 50);
    transition: 0.15s ease;
    box-shadow: 0 4px 8px rgb(50, 20, 20);
}

.number:hover {
    filter: brightness(80%);
    transform: scale(1.12)
}

.body {
    min-height: 100vh;
}

.footer {
    font-family: var(--code-font);
    background-color: var(--footer-bg);
    box-shadow: 0 4px 40px 0 rgb(10, 0, 0);
}